# <div class="row box-no-border">
<div class="row author">
  <div class="photo box" >
    <%= image_tag(user.photo, size: "55") %>
  </div>
  <div class="column box">
    <div class="row-justify">
      <h3><%= link_to(user_path(user.id)) { user.name } %></h3>
      <h4><%= render 'users/count', user: user %></h4>
    </div>
    <% if current_user?(user) %>
      <%= button_to 'New post', new_user_post_path(user.id), method: :get %>
    <% end %>
  </div>
</div>