<div class="box-no-border">
  <div class="column box">
    <%= render 'posts/header', post: post %>
    <p><%= post.fulltext(short: short_text?(post)) %></p>
    <%= render 'posts/footer', post: post %>
  </div>
  <%= render 'posts/comments', post: post %>
</div>
