<input type="hidden" value="<%= "here is a list of posts by user with id: #{@user.id}" %>"
<div id="authors_part" class="author-div">
  <%= render @user %>
  <%= render @posts %>
  <div class="row-center"><h3>Pagination</h3></div>
</div> 