<input type="hidden" value="<%= "show exact post with id: #{@post.id} by User with id: #{@post.author.id}" %>" />
# <div id="authors_part" class="author-div">
<div class="box-no-border">
  <%= render @post %>
</div>